<div id="navbar-wrapper">
    <nav id="navbar-main">
        <div class="container is-centered">
            <div class="columns">
                <div class="column is-narrow">
                    <a href="/" class="home-link is-size-5-mobile">Tobias Kirschstein</a>
                </div>
                <div class="column">
                    <span class="section-links">
                        <a href="#about" class="nav-link" data-target="#about">Home</a>
                        <a href="#publications" class="nav-link" data-target="#publications">Publications</a>
                        <a href="#teaching" class="nav-link" data-target="#teaching">Teaching</a>
                    </span>
                </div>
            </div>
        </div>
    </nav>
</div>